<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/store/store.css">
</head>
<body>
<div class="container">
    <form method="post">
        <div>
            <p>가게 이름: </p>
            <table>
                <thead>
                <tr>
                    <th>#</th>
                    <th>선택</th>
                    <th>메뉴</th>
                    <th>설명</th>
                    <th>가격</th>
                    <!--<th>수량</th>-->
                </tr>
                </thead>
                <tbody>
                <tr th:each="food : ${foodList}">
                    <td th:text="${food.idx}"></td>
                    <td>
                        <input type="checkbox" name="food_list" th:value="${food.idx}">
                    </td>
                    <td th:text="${food.name}"></td>
                    <td th:text="${food.description}"></td>
                    <td th:text="${food.price}"></td>
                    <!--<td>
                        <input type="text" name="order_count">
                    </td>-->
                </tr>
                </tbody>
            </table>
            <!-- <button type="submit">주문 ㄱㄱ!</button> -->
            <button type="button" onclick="add_order();">주문 ㄱㄱ!</button>
        </div>

        <input type="hidden" th:value="${storeIdx}" name="store_idx"/>
    </form>
</div> <!-- /container -->
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/js/order/order.js"></script>
</html>