<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/store/store.css">
</head>
<body>
<div class="container">
    <div>
        <a href="/user/join">회원가입</a>

        <select name="location">
            <option th:each="location : ${locationList}" th:value="${location}" th:text="${location}"></option>
        </select>

        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
                <th>설명</th>
                <th>위치</th>
                <th>주문</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="store : ${storeList}">
                <td th:text="${store.idx}"></td>
                <td th:text="${store.name}"></td>
                <td th:text="${store.description}"></td>
                <td th:text="${store.location}"></td>
                <td><a th:href="@{/food/list(storeIdx=${store.idx})}">주문하기</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>